extends ../../layouts/default.pug
block main
    section(class="my-[5%] p-[2%] border rounded-[10px] border-[#003459]")
        div(class="flex flex-col gap-[10px]") 
            div(class="flex justify-between text-[12px] italic")
                p Upload by: #{blogDetailInfo.uploadBy}
                p Created at: #{blogDetailInfo.updatedAt}
            div(class="flex items-start gap-6")
                p(class="w-auto p-[10px] bg-[#00A7E7] rounded-[28px] text-[#FDFDFD] text-[10px] text-center italic") Pet Knowledge 
                p(class="w-auto p-[10px] bg-[#82ff0e] rounded-[28px] text-[#FDFDFD] text-[10px] text-center italic") Train pet 
                p(class="w-auto p-[10px] bg-[#ff771c] rounded-[28px] text-[#FDFDFD] text-[10px] text-center italic") Pet food 
                p(class="w-auto p-[10px] bg-[#ff155b] rounded-[28px] text-[#FDFDFD] text-[10px] text-center italic") Pet information
        h1(class="py-[5%] text-7xl font-bold") #{blogDetailInfo.title}
        h2(class="pb-[5%] text-xl font-nornal italic") #{blogDetailInfo.description}
        img(src=blogDetailInfo.thumbnail_photo, alt="main image of blog", class="w-full h-[50rem] rounded-[20px]")
        section 
            p !{blogDetailInfo.content}