extends ../../layouts/default
include ../../mixins/pagination.pug
block main
    section(class="pb-[50px]")
        div(class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10")
            each item in blogInfo
                a(href=`/blog/petBlog/${item.slug}/${item.id}`) 
                    figure(class="w-full h-full group transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-gray-100 rounded-lg shadow-lg overflow-hidden")
                        img(src= item.thumbnail_photo, alt="avt of blog" class="w-full h-64 object-cover transition-transform duration-300 ease-in-out group-hover:scale-110")
                        figcaption(class="p-4 flex flex-col gap-2")
                            p(class="w-[50%] p-[5px] bg-[#00A7E7] rounded-[28px] text-[#FDFDFD] text-[10px] text-center") Pet Knowledge 
                            h5(class="text-[16px] text-[#00171F] font-bold") #{item.title}
                            p(class="text-[14px] font-thin text-wrap") #{item.description}
                            p(class="text-[12px] font-thin text-wrap italic") Upload by #{item.uploadBy}
        div(class="flex justify-center py-5")
            +pagination()