section(class="py-[5%] px-[10%]")
    div(class="flex justify-between")
        div  
            h3(class="text-[16px]") Hard to choose right products for your pets?
            p(class="text-[24px] text-[#003459] font-bold") Pet Food
        button(class="py-[10px] w-[12%] h-[1%] text-[14px] text-[#003459 rounded-[57px] border-solid border-2 border-[#003459] hover:bg-[#ff7037]") View More 

    div(class="grid grid-cols-4 gap-4")
        each item in foodPetInfo
            figure(class="p-[5%] rounded-[12px] bg-[#FFFFFF] flex flex-col shadow-lg items-center")
                img(src= item.avt, alt="avatar of pet" class="rounded-[10px] w-[90%] h-[90%]")
                div(class="pt-[10%] w-[90%]")
                    h4(class="text-[16px] font-bold pb-[10px]") #{item.name}
                    div(class="flex gap-[10px] text-[12px] pb-[5px]")
                        p(class="text-[#667479]") Product: 
                            span(class="text-[#667479] font-bold") #{item.type} 
                        p(class="text-[#667479]") Size:  
                            span(class="text-[#667479] font-bold") #{item.size} 
                    h5(class="text-[#00171F] font-bold") #{item.price} VNĐ
                    div(class="py-[5%] pl-[5%] flex gap-[5px] bg-[#FCEED5] justify-left items-center rounded-[8px]")
                        img(src="/images/special_offer_icon.svg", alt="special_offer_icon") 
                        p(class="text-[14px] text-center font-bold text-[#003459]") &#8226; #{item.special_offer}
                        