section(class="py-[5%]")
    div(class="flex justify-between")
        div  
            h3(class="text-[16px]") Whats new?
            p(class="text-[24px] text-[#003459] font-bold") Take A Look At Some Of Our Pets 
        a(href="/pet" class="xs:hidden flex justify-center py-[10px] w-[12%] h-[1%] text-[14px] text-[#003459 rounded-[57px] border-solid border-2 border-[#003459] hover:bg-[#ff7037]") 
            button View more
            img(src="/images/arrow_button.svg", alt="arrowbutton")  

    div(class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4")
        each item in petInfo
            figure(class="p-[5%] rounded-[12px] bg-[#FFFFFF] flex flex-col shadow-lg items-center sm:transition-all sm:duration-300 sm:hover:scale-105 sm:hover:shadow-xl")
                a(href=`/pet/${item.slug}` class="w-[90%] h-[90%]") 
                    img(src= item.avt, alt=item.name class="rounded-[10px] w-full h-full sm:transition-transform sm:duration-300 sm:hover:scale-110")
                div(class="pt-[10%] w-[90%] opacity-100 transform translate-y-0 transition-all duration-500")
                    h4(class="text-[16px] font-bold pb-[10px]") #{item.id_code} - #{item.name}
                    div(class="flex gap-[10px] text-[12px] pb-[5px]")
                        p(class="text-[#667479]") Gene:
                            span(class="text-[#667479] font-bold") #{item.gene}
                        p(class="text-[#667479]") Age:
                            span(class="text-[#667479] font-bold") #{item.age} months
                    h5(class="text-[#00171F] font-bold") #{item.price} $
    a(href="/pet" class="flex justify-center my-8 py-5 w-full text-[14px] text-[#003459] rounded-[57px] border-solid border-2 border-[#003459] hover:bg-[#ff7037] sm:hidden") 
            button View more
            img(src="/images/arrow_button.svg", alt="arrowbutton")  