mixin dropdownUser(user) 
    div(class="relative z-10")
        img(src=user.thumbnail, alt="user-avatar", class="avatar-user w-[40px] h-[40px] rounded-full border-2 border-[#002A48]")
        div(class="dropdown-avatar hidden absolute top-[100%] mt-2 right-0 bg-white border rounded-[10px] shadow-md w-[200px]")
            ul
                li(class="p-[10%] flex justify-between items-center") 
                    div
                        p(class="text-xs text-gray-500") Signed in as
                        p(class="text-xs text-[#003459]") #{user.email}
                    div
                        img(src=user.thumbnail, alt="user-avatar", class="avatar-user w-[20px] h-[20px] rounded-full border-2 border-[#002A48]")
                li(class="p-[5%] flex justify-between items-center hover:bg-gray-200")
                    a(href="/user/profile", class="text-[#003459] text-sm w-full") My Profile
                    i(class="fa-solid fa-user-pen")
                hr
                li(class="p-[5%] flex justify-between items-center hover:bg-gray-200")
                    a(href=`/blog/myblog/${user.id}`, class="text-[#003459] text-sm w-full") My Blog
                    i(class="fa-solid fa-blog")
                hr
                li(class="p-[5%] flex justify-between items-center hover:bg-gray-200")
                    a(href=`/mypet/product/${user.id}`, class="text-[#003459] text-sm w-full") My Pet
                    i(class="fa-solid fa-dog")
                hr
                li(class="p-[5%] flex justify-between items-center hover:bg-gray-200") 
                    a(href="/user/logout", class="text-[#ff301d] text-sm w-full") Logout
                    i(class="fa-solid fa-right-from-bracket")
