extends ../../layouts/default.pug
block main
    section.py-10.my-auto
        .mx-auto.flex.gap-4(class='lg:w-full md:w-[90%] xs:w-[96%]')
            .mx-auto.shadow-2xl.p-4.rounded-xl.h-fit.self-center(class='lg:w-full md:w-[80%] sm:w-[88%] xs:w-full ')
                div
                    form(
                        action="/user/profile/edit?_method=PATCH" 
                        method="POST" 
                        enctype="multipart/form-data"
                        )
                        .w-full.rounded-lg.items-center.relative.border.p-4 
                            .mx-auto.flex.flex-col.justify-end.items-center.rounded-full(class="h-[90%]")
                                div(class="relative border w-[152px] h-[152px] rounded-full flex items-center justify-center")
                                    img(src=user.thumbnail, alt="" class="avt_image w-[141px] h-[141px] bg-blue-300/20 rounded-full border-2")
                                    label(for='thumbnail' class="absolute top-[80%] right-2 bg-[#FDFDFD]")
                                        svg.w-6.h-5.text-blue-700(data-slot='icon' fill='none' stroke-width='1.5' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                                            path(stroke-linecap='round' stroke-linejoin='round' d='M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z')
                                            path(stroke-linecap='round' stroke-linejoin='round' d='M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z')
                                    input#thumbnail(type='file' name='thumbnail' accept="image/*" title="Upload Avatar" class="hidden")
                        h2.text-center.mt-1.font-semibold
                            | Edit Profile
                        .flex.gap-2.justify-center.w-full(class='lg:flex-row md:flex-col sm:flex-col xs:flex-col')
                            .w-full.mb-4.mt-6
                                label(for='name' class="text-[#232323] font-medium italic") Name
                                input.mt-2.p-4.w-full.border-2.rounded-lg(type='text' name="name" value=user.name class="text-gray-500 italic")
                            .w-full.mb-4(class='lg:mt-6')
                                label(for='email' class="text-[#232323] font-medium italic") Email
                                input.mt-2.p-4.w-full.border-2.rounded-lg(type='text' name="email" value=user.email class="text-gray-500 italic")
                        .flex.gap-2.justify-center.w-full(class='lg:flex-row md:flex-col sm:flex-col xs:flex-col')
                            .w-full.mb-4.mt-6
                                label(for='phone' class="text-[#232323] font-medium italic") Phone
                                input.mt-2.p-4.w-full.border-2.rounded-lg(type='text' name="phone" value=user.phone class="text-gray-500 italic")
                            .w-full.mb-4(class='lg:mt-6')
                                label(for='fb_address' class="text-[#232323] font-medium italic") Facebook Address
                                input.mt-2.p-4.w-full.border-2.rounded-lg(type='text' name="fb_address" value=user.linkFb class="text-gray-500 italic")
                        .flex.gap-2.justify-center.w-full(class='lg:flex-row md:flex-col sm:flex-col xs:flex-col')
                            .w-full
                                h3.mb-2(class="text-[#232323] font-medium italic") Sex
                                select(name='gender' class='w-full text-grey border-2 rounded-lg p-4 pl-2 pr-2')
                                    option(disabled='' value='') Select Sex
                                    option(value='male', selected=user.gender === 'male') Male
                                    option(value='female', selected=user.gender === 'female') Female
                                .w-full
                                    h3.mb-2(class="text-[#232323] font-medium italic") Date Of Birth
                                    input.text-grey.p-4.w-full.border-2.rounded-lg(type='date' name="dateBirth" value=formattedDate)
                        .w-full.rounded-lg.bg-blue-500.mt-4.text-white.text-lg.font-semibold
                            button.w-full.p-4(type='submit') Submit
        script(src="/js/imageUpload.js") 