section 
    div(class="grid grid-cols-4 gap-4")
        each item in petProduct 
            a(href=`/category/pet/${item.slug}` class="p-[5%] rounded-[12px] bg-[#FFFFFF] flex flex-col shadow-lg items-center")
                img(src= item.avt, alt="avatar of pet" class="rounded-[10px] w-[90%] h-[90%]")
                div(class="pt-[10%] w-[90%]")
                    h4(class="text-[16px] font-bold pb-[10px]") #{item.id_code} - #{item.name}
                    div(class="flex gap-[10px] text-[12px] pb-[5px]")
                        p(class="text-[#667479]") Gene: 
                            span(class="text-[#667479] font-bold") #{item.gene} 
                        p(class="text-[#667479]") Age: 
                            span(class="text-[#667479] font-bold") #{item.age} months 
                    h5(class="text-[#00171F] font-bold") #{item.price} $